<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089611002586-o0u9bj7n0bhfa50j4kjg0r0vkccjpqdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089611002586-o0u9bj7n0bhfa50j4kjg0r0vkccjpqdt</string>
	<key>API_KEY</key>
	<string>AIzaSyBqIhIV2NjfbygsTijrAU1AN7PaUFCfENM</string>
	<key>GCM_SENDER_ID</key>
	<string>1089611002586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evenmate.app</string>
	<key>PROJECT_ID</key>
	<string>evenmate-ed775</string>
	<key>STORAGE_BUCKET</key>
	<string>evenmate-ed775.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089611002586:ios:683f7319c630adf113abe3</string>
</dict>
</plist>